body {
    background-color: #a0d2eb;
}

h1 {
    color: hotpink;
    text-align: center;
}

.canvas {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 600px;
}

.trunk,
.branch {
    border-radius: 25px;
    background: linear-gradient(to right, #7f3333, #4d2020);
}

.trunk {
    position: relative;

    width: 10px;
    height: 500px;
    margin: 0 auto;
}

.branch {
    position: absolute;

    width: 5px;

    transform-origin: bottom center;
}

.branch:nth-child(even) {
    transform: rotate(60deg);
}

.branch:nth-child(odd) {
    transform: rotate(-60deg);
}

.branch:nth-child(1) {
    top: 180px;

    height: 180px;
}

.branch:nth-child(2) {
    top: 160px;

    height: 150px;
}

.branch:nth-child(3) {
    top: 120px;

    height: 120px;
}

.branch:nth-child(4) {
    top: 80px;

    height: 90px;
}

.branch:nth-child(5) {
    top: 40px;

    height: 60px;
}

.branch:nth-child(6) {
    top: 0px;

    height: 30px;
}

.leaf {
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 75% 0 75% 0;
    background: linear-gradient(to right, #526E2A, #425822);
}

.leaf:nth-child(1) {
    top: 5px;
    animation-delay: 3.5s;
}
.leaf:nth-child(2) {
    top: 20px;
    animation-delay: 3s;
}
.leaf:nth-child(3) {
    top: 50px;
    animation-delay: 2.5s;
}
.leaf:nth-child(4) {
    top: 70px;
    animation-delay: 2s;
}
.leaf:nth-child(5) {
    top: 100px;
    animation-delay: 1.5s;
}
.leaf:nth-child(6) {
    top: 120px;
    animation-delay: 1s;
}

.flower {
    position: absolute;
    width: 15px;
    height: 5px;
    background: hotpink;
    border-radius: 5px;
}

.flower::before {
    content: "";
    display: block;
    position: absolute;
    width: 15px;
    height: 5px;
    background: hotpink;
    border-radius: 5px;
    transform: rotate(60deg);
}

.flower::after {
    content: "";
    display: block;
    width: 15px;
    height: 5px;
    background: hotpink;
    border-radius: 5px;
    transform: rotate(-60deg);
}

.flower:nth-child(1) {
    top: 5px;
    animation-delay: 3.5s;
}
.flower:nth-child(2) {
    top: 20px;
    animation-delay: 3s;
}
.flower:nth-child(3) {
    top: 50px;
    animation-delay: 2.5s;
}
.flower:nth-child(4) {
    top: 70px;
    animation-delay: 2s;
}
.flower:nth-child(5) {
    top: 100px;
    animation-delay: 1.5s;
}
.flower:nth-child(6) {
    top: 120px;
    animation-delay: 1s;
}

@keyframes leaf-odd-grow {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
.leaf:nth-child(odd) {
    left: 100%;
    transform-origin: 0% 100%;
    animation-name: leaf-odd-grow;
    animation-duration: 4s;
    animation-fill-mode: both;
}


@keyframes leaf-even-grow {
    0% {
        transform: rotate(-90deg) scale(0);
    }
    100% {
        transform: rotate(-90deg) scale(1);
    }
}
.leaf:nth-child(even) {
    left: -150%;
    transform-origin: 50% 100%;
    animation-name: leaf-even-grow;
    animation-duration: 4s;
    animation-fill-mode: both;
}

@keyframes flower-odd-grow {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
.flower:nth-child(odd) {
    left: 100%;
    transform-origin: 0% 100%;
    animation-name: flower-odd-grow;
    animation-duration: 4s;
    animation-fill-mode: both;
}


@keyframes flower-even-grow {
    0% {
        transform: rotate(-90deg) scale(0);
    }
    100% {
        transform: rotate(-90deg) scale(1);
    }
}
.flower:nth-child(even) {
    left: -150%;
    transform-origin: 50% 100%;
    animation-name: flower-even-grow;
    animation-duration: 4s;
    animation-fill-mode: both;
}